<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div>Sasquatch Websighting</div>
        <a href="/sightings/new">Report Sighting</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="container">
        <h1>Welcome to the Tree Mapper</h1>
        {% for sighting in sightings %}
            <div class="sighting-card">
                <h3><p>Location: </p> {{ sighting.location }}</h3>
                <p><strong>Date Found:</strong> {{ sighting.date_of_sighting }}</p>
                <p><strong>Zip Code:</strong> {{ sighting.number_of_sasquatches }}</p>
                <p><strong>Notes:</strong> {{ sighting.description }}</p>
                <div>
                    <a href="/sightings/edit/{{ sighting.id }}" class="button edit">Edit</a>
                    <form action="/sightings/delete/{{ sighting.id }}" method="POST" style="display: inline;">
                        <button type="submit" class="button delete">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <footer>
        © 2024 Tree Mapper. All Rights Reserved.
    </footer>
</body>
</html>
